asgiref==3.12.1
autopep8==2.3.2
build==1.6.1
certifi==2026.7.22
cffi==2.1.1
cfgv==3.5.0
charset-normalizer==3.5.1
click==8.5.0
coverage==7.16.1
coverage-badge==1.1.2
cryptography==50.0.1
cssbeautifier==2.0.3
distlib==0.4.3
Django==6.1.1
djlint==1.46.1
docutils==0.23
EditorConfig==0.17.1
filelock==3.32.6
flake8==7.3.0
Flake8-pyproject==1.2.4
id==1.6.1
identify==2.6.19
idna==3.19
isort==9.0.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
jeepney==0.9.0
jsbeautifier==2.0.3
json5==0.15.0
keyring==25.7.0
markdown-it-py==4.2.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==11.1.0
mypy_extensions==1.1.0
nh3==0.3.7
nodeenv==1.10.0
packaging==26.3
pathspec==1.1.1
platformdirs==4.11.8
pre_commit==4.6.2
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
Pygments==2.21.0
pyproject_hooks==1.2.0
python-discovery==1.6.0
PyYAML==6.0.3
readme_renderer==46.0
regex==2026.9.10
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
SecretStorage==3.5.0
setuptools==81.0.0
sqlparse==0.6.0
twine==7.0.0
typing_extensions==4.16.0
urllib3==2.7.0
virtualenv==21.7.9
