{% extends "log_lens/base.html" %}
{% load static %}
{% load log_lens_components %}

{% block header %}
  <nav class="container">
    <ul>
      <li>
        <img id="img-logo"
             width="40px"
             height="auto"
             src="{% static 'django_log_lens/favicon.svg' %}"
             alt="Django Log Lens" />
      </li>
    </ul>

    <ul>
      Django&nbsp;Log&nbsp;Lens
    </ul>

    <ul>
      {% if user.is_authenticated %}
        <li>{% logout_link %}</li>
      {% endif %}

      <li>{% theme_toggler %}</li>
    </ul>
  </nav>
{% endblock header %}

{% block main %}
  <main>
    <div class="container">
      <span class="spaced">&nbsp;</span>
      <h1>Demo Page</h1>
      <p>This is a demo page to test client logging</p>
      <p>
        Pushing the button below will throw an error. In case <code>ALLOW_JS_LOGGING</code> is set to <code>True</code>,
        the error will be logged to the console and sent to the server, where it will be logged by the
        <code>client</code> handler.
      </p>
      <button onclick="throw new Error('Hello World!');">Throw Error</button>
      &nbsp;
      <a role="button" class="secondary" href="{% url 'log-lens:view' %}">Go to Log Lens View</a>
    </div>

    {% load log_lens_components %}
    {% log_js %}

    <script>
        console.debug("Hello from console.debug!");
        console.info("Hello from console.info!");
        console.log("Hello from console.log!");
        console.warn("Hello from console.warn!");
        console.error("Hello from console.error!");
        console.assert(false, "This assertion must fail.");
    </script>
  </main>
{% endblock main %}
