:root {
    /* Dracula Theme */
    --background-color: #0f1115;
    --lighter-background-color: #171a20;
    --neutral-color: #333a46;
    --toolbar-color: #181f25;
    --highlight-color: #444a58;
    --foreground-color: #c3c7ce;
    --comment-color: #bbbec7;
    --cyan-color: #8be9fd;
    --green-color: #50fa7b;
    --orange-color: #ffb86c;
    --pink-color: #ff79c6;
    --light-red-color: #ff5555;
    --red-color: #ff2929;
    --yellow-color: #f1fa8c;
    --padding: 8px;
    --small-padding: calc(var(--padding) / 2);
    --control-elem-color: var(--foreground-color);
    --control-elem-bg-color: #182838;
    --font: "Source Code Pro", monospace;
}

/** log level colors */

.critical {
    color: var(--red-color);
    font-weight: 900;
}

.error {
    color: var(--light-red-color);
}

.warning {
    color: var(--orange-color);
}

.info {
    color: var(--cyan-color);
}

.debug {
    color: var(--green-color);
}

/** custom classes */

.line-counter {
    color: var(--pink-color);
    margin-left: 2px;
}

.quoted-text {
    cursor: pointer;
    color: var(--yellow-color);
}

.url {
    cursor: pointer;
    color: var(--yellow-color);
}

.fixed {
    position: fixed;
    top: 0;
}

.clickable {
    cursor: pointer;
}

.toolbar-block {
    display: inline-block;
}

/** default styles */

::-webkit-scrollbar-thumb {
    background-color: var(--cyan-color);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--highlight-color);
}

body {
    -ms-overflow-style: none; /* Edge */
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: 0;
    padding: 0;
    scrollbar-width: none; /* Firefox */
}

body * {
    font-family: var(--font);
}

pre {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
}

label {
    border-bottom: 1px solid var(--control-elem-color);
    color: var(--control-elem-color);
    font-weight: 500;
    margin: var(--padding);
    padding: var(--small-padding);
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

h3 {
    color: var(--control-elem-color);
    display: inline-block;
    filter: brightness(0.85);
    font-size: smaller;
    font-weight: normal;
    margin: var(--padding);
}

hr {
    background-color: var(--highlight-color);
    border: 0;
    height: 1px;
    margin: 0;
}

a {
    background-color: var(--toolbar-color);
    border-radius: calc(var(--padding) / 2);
    border: 1px solid var(--neutral-color);
    color: var(--cyan-color);
    text-decoration: none;
    font-size: smaller;
}

button,
input {
    background-color: var(--control-elem-bg-color);
    border-radius: calc(var(--padding) / 2);
    border: 1px solid var(--neutral-color);
    color: var(--control-elem-color);
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    margin: var(--small-padding);
    margin-left: var(--padding);
    /* padding: var(--small-padding); */
}

button[state="on"]::before {
    content: "✅ ";
    font-size: small;
}

button[state="off"]::before {
    content: "❌ ";
    font-size: small;
}

button:hover,
input:hover {
    background-color: #00ffff12;
    color: var(--cyan-color);
}

button:active,
input:active,
a:active,
.clickable:active {
    color: var(--foreground-color);
}

span:active {
    background-color: #fff1;
}

input {
    width: 160px;
    cursor: text;
}

table {
    background-color: var(--control-elem-bg-color);
    border-collapse: collapse;
    border: 1px solid var(--neutral-color);
    border-radius: calc(var(--padding) / 2);
    color: var(--control-elem-color);
    display: inline-block;
    margin-left: var(--padding);
    margin-top: var(--padding);
}

table td,
table th {
    padding: calc(var(--padding) / 1.5);
    border: 1px solid var(--neutral-color);
}

table th {
    border-top: 0;
}

td:first-child,
th:first-child {
    border-left: 0px;
}

tr:first-child td {
    border-top: 0px;
}

td:last-child,
th:last-child {
    border-right: 0px;
}

tr:last-child td {
    border-bottom: 0px;
}

/** custom styles for specific elements */

#div-log-content {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

#pre-line-counter {
    min-width: 56px;
    height: fit-content;
    padding-left: var(--small-padding);
    border-right: 2px solid var(--neutral-color);
    background-color: var(--lighter-background-color);
}

#pre-log-content {
    margin-left: var(--padding);
}

#table-statistics td:last-child {
    text-align: right;
}

#div-toolbar {
    user-select: none;
    background-color: var(--toolbar-color);
    width: 100%;
    padding-top: var(--padding);
}

#div-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    z-index: 2;
}

#div-message-toast,
#div-prompt {
    background-color: var(--toolbar-color);
    border: 1px solid var(--neutral-color);
    border-radius: calc(var(--padding) * 2);
}

#div-message-toast,
#div-prompt,
#div-login {
    align-items: center;
    color: var(--control-elem-color);
    display: flex;
    font-size: larger;
    font-weight: 600;
    justify-content: center;
    left: 25%;
    min-height: 10%;
    min-width: 40%;
    padding: var(--padding);
    position: fixed;
    right: 25%;
    text-align: center;
    top: 50%;
}

#div-login {
    left: 0;
    right: 0;
    width: 360px;
    margin: auto;
}

#div-prompt input {
    width: 75%;
}

#btn-auto-refresh {
    margin-bottom: calc(2 * var(--padding));
}

#btn-show-on-github img {
    position: relative;
    top: 20px;
    height: 48px;
}
#btn-show-on-github {
    border: none;
    margin-top: -6px;
    margin-left: var(--small-padding);
    margin-bottom: 20px;
    font-weight: bold;
    background-color: var(--toolbar-color);
}
