{% extends "v2/base.html" %}
{% load static %}
{% load log_lens_components %}

{% block header %}
  <nav class="container">
    <ul>
      <li>
        <img id="img-logo"
             width="40px"
             height="auto"
             src="{% static 'django_log_lens/favicon.svg' %}"
             alt="Django Log Lens" />
        &nbsp;Django Log Lens
      </li>
    </ul>

    <ul class="overflow-auto">
      <li>
        <div role="link"
             @click="ui.activeTab = 'files'"
             :class="{ 'secondary': ui.activeTab !== 'files' }">Files</div>
      </li>
      <li>
        <div role="link"
             @click="ui.activeTab = 'config'"
             :class="{ 'secondary': ui.activeTab !== 'config'}">Config</div>
      </li>
      <li>
        <div role="link"
             @click="ui.activeTab = 'nav'"
             :class="{ 'secondary': ui.activeTab !== 'nav'}">Navigation</div>
      </li>
    </ul>

    <ul>
      <li></li>
      {% logout_link %}
      <li>{% theme_toggler %}</li>
    </ul>
  </nav>
{% endblock header %}

{% block main %}
  <div class="container">
    <article x-show="ui.activeTab === 'files'">
      <header class="spaced">
        <b>Selected File:</b>
        <code x-text="ui.selectedLogFile"></code>
        <button class="hide-sm hide-md" @click="ui.activeTab = 'null'">✕</button>
      </header>

      <progress x-show="ui.state.isLoading"></progress>

      <table id="table-file-paths">
        <thead>
          <tr>
            <th>Handler</th>
            <th>File</th>
          </tr>
        </thead>
        <tbody>
          {% for handler, path in log_files.items %}
            <tr>
              <td :class="{ 'pico-primary-color':  ui.selectedLogFile === '{{ path }}' }">{{ handler }}</td>
              <td class="spaced">
                <a role="link"
                   @click="ui.selectedLogFile='{{ path }}'; closeFileView();">
                  <code class="transparent-background">{{ path }}</code>
                </a>
                <details class="dropdown">
                  <summary>Actions</summary>
                  <ul>
                    <li>
                      <a role="link"
                         @click="ui.selectedLogFile='{{ path }}'; closeFileView();">→ Load</a>
                    </li>
                    <li>
                      <a href="/logs/api/files/{{ path }}" download="{{ path }}">⤓ Download</a>
                      <!-- todo adjust '/logs' -->
                    </li>
                    <li>
                      <a>✕ Clear</a>
                    </li>
                  </ul>
                </details>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% tab_footer %}

    </article>

    <article x-show="ui.activeTab === 'config'">

      {% tab_header %}

      <div class="grid">
        <input type="text"
               name="path-splitter"
               placeholder="Path Splitter"
               aria-label="Path Splitter" />
        <input type="text"
               name="path-prefix"
               placeholder="Path Prefix"
               aria-label="Path Prefix" />
      </div>
      <br />
      <hr />
      <br />
      <div class="grid">
        <label>
          <input name="opt-in" type="checkbox" role="switch" />
          Auto Refresh
          <span data-tooltip="Updates the selected log file when new lines are added">&nbsp;?&nbsp;</span>
        </label>

        <label>
          <input name="opt-in"
                 type="checkbox"
                 role="switch"
                 value="true"
                 x-model="ui.state.fullWidth" />
          Full Width
          <span data-tooltip="Expands the log file to use the full width of the screen">&nbsp;?&nbsp;</span>
        </label>
      </div>

      {% tab_footer %}

    </article>

    <article id="article-navigation" x-show="ui.activeTab === 'nav'">

      {% tab_header %}

      <div class="grid">
        <button class="outline secondary" @click="scrollToTop()">↑ Top</button>
        <button class="outline secondary" @click="scrollToBottom()">↓ Bottom</button>
        <button class="outline">← Prev Error</button>
        <button class="outline">→ Next Error</button>
        <button class="outline">>> Latest Error</button>
      </div>
      <br />
      <div class="grid">
        <input type="search"
               name="Line Number"
               placeholder="Go to Line"
               @input="gotoLine($event.target.value)" />
        <input type="search" name="search" placeholder="Search" aria-label="Search" />
      </div>

      {% tab_footer %}

    </article>
  </div>

  <div id="log-container"
       :class="{ 'container-fluid': ui.state.fullWidth, 'container': !ui.state.fullWidth }"
       x-show="(ui.activeTab === 'nav' || ui.activeTab === 'null') && ui.selectedLogFile !== 'NONE SELECTED'">
    <div id="div-pre-wrapper">
      <pre id="pre-line-counter" x-html="ui.logFile.lines"></pre>
      <pre id="pre-log-content" x-html="ui.logFile.content"></pre>
    </div>
  </div>
  <script src="{% static 'django_log_lens/main.js' %}"></script>
  <script src="{% static 'django_log_lens/formatter.js' %}"></script>

{% endblock main %}
